input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.h2-css {
  text-align: center;
}

.h2-css h2 {
  font-weight: bold;
  color: blueviolet;
}
